<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create questions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'quiz/background.css' %}">
</head>
<body>
    {% include "quiz/navbar.html" %}
    <div class = "container">
        <div class = "jumbotron">
            <h1>Enter questions in the quiz</h1>
            <form action="#" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save and add another" class="btn btn-primary mb-2" name="addmore">
                <input type="submit" value="Save and finish" class="btn btn-primary mb-2" name="finish">
            </form>
        </div>
    </div>
</body>
</html>