<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'quiz/background.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    {% include "quiz/navbar.html" %}
    <br><br><h1 class="text-center p-3 mb-2">{{ sub.Name }}</h1><br><br>
    <br><br>
    <div class="row" >
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>                
    </div>
    <div class="container">
        <ol>
            <table class="table table-striped table-borderless">
                <thead class="bg-info">
                    <th>SNo.</th>
                    <th>Quiz</th>
                    <th>Marks</th>
                    <th>Maximum Marks</th>
                </thead>
                {% for r in result %}
                    <tr>
                        <td><li></li></td>
                        <td>
                            {{ r.Quiz }}
                        </td>
                        <td>{{ r.Marks_Obtained }}</td>
                        <td>{{ r.Max_Marks }}</td>
                    </tr>
                {% endfor %}

            </table>
        </ol>
    </div>
    <script>

        var ctx = document.getElementById('myChart').getContext('2d');

        var state ={	
            'items':[],
            'values':[],
        }
    
        //var objId = "{{question.id}}"
    
        var dataURL = `myresultdata/`
        $.ajax({
            method:'GET',
            url:dataURL,
            success:function(response){
                console.log('RESPONSE:', response)
                for (var i in response){
    
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
    
                    state.items.push(key)
                    state.values.push(value)
                }
    
                console.log('STATE:', state)
                buildChart()
    
            }
        })
    
        function buildChart(){
            var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: state.items,
                datasets: [{
                    label: "Quizzes' result in percentage",
                    data: state.values,
                    backgroundColor: 'rgba(9, 156, 189, 1)',
                    borderColor: 'rgba((9, 156, 189, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        }
    </script>
</body>
</html>