<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'quiz/background.css' %}">
    <style>
        #message{
            text-align: center;
        }
    </style>
</head>
<body>
    {% include "quiz/navbar.html" %}
    <div class = "container">
        <div class = "">
            <br><br><h1 class="text-center p-3 mb-2">Your subjects</h1><br><br>
            <br><br>
            <ol>
            <table class="table table-striped table-borderless">
                <thead class="bg-info">
                    <th>SNo.</th>
                    <th>Subject</th>
                </thead>
                {% for sub in subjects %}
                    <tr>
                        <td><li></li></td>
                        <td><a href="{% url 'assignedquiz' sub.id %}">{{ sub.Name }}</a></td>
                    </tr>
                {% endfor %}

            </table>
            </ol>
            {% for message in messages %}
                <div class="alert alert-danger" role="alert" id="message">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>