body{
    background: url(https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg) !important;
    background-color: #cccccc !important;
    background-size: inherit !important;
    background-position: unset !important;
}